@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400&display=swap");

$item_color: #1698d9;
$item_hover_color: #2ea8e6;
$item_active_color: #d91667;
$item_active_hover_color: #e52e7a;
$item_not-available_color: #b3b3b3;
$p_color: #666;
